# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite3

# Logs
*.log
